/* RAL:Codes */
#calc-ral-list {display: flex;justify-content: space-between;flex-wrap: wrap}
#calc-ral-list li {position: relative;text-align: center;list-style: none;cursor: pointer;display: block;width: 25%;margin-bottom: 15px;padding: 0 5px;}
#calc-ral-list li:before {display: block;width: 100%;height: 40px;margin-bottom: 10px;content: ""}
#calc-ral-list li:after {display: block;width: 100%;content: ""; font-size: 15px}
#calc-ral-list li[data-ral="1000"]:before {background-color: #CABE8E;}
#calc-ral-list li[data-ral="1000"]:after {content:"RAL 1000";}
#calc-ral-list li[data-ral="1001"]:before {background-color: #CEB58C;}
#calc-ral-list li[data-ral="1001"]:after {content: "RAL 1001"}
#calc-ral-list li[data-ral="1002"]:before {background-color: #CFAF76;}
#calc-ral-list li[data-ral="1002"]:after {content: "RAL 1002"}
#calc-ral-list li[data-ral="1003"]:before {background-color: #F2AD22;}
#calc-ral-list li[data-ral="1003"]:after {content: "RAL 1003"}
#calc-ral-list li[data-ral="1004"]:before {background-color: #DFA31F;}
#calc-ral-list li[data-ral="1004"]:after {content: "RAL 1004"}
#calc-ral-list li[data-ral="1005"]:before {background-color: #C89625;}
#calc-ral-list li[data-ral="1005"]:after {content: "RAL 1005"}
#calc-ral-list li[data-ral="1006"]:before {background-color: #DD9622;}
#calc-ral-list li[data-ral="1006"]:after {content: "RAL 1006"}
#calc-ral-list li[data-ral="1007"]:before {background-color: #E5941F;}
#calc-ral-list li[data-ral="1007"]:after {content: "RAL 1007"}
#calc-ral-list li[data-ral="1011"]:before {background-color: #AF885D;}
#calc-ral-list li[data-ral="1011"]:after {content: "RAL 1011"}
#calc-ral-list li[data-ral="1012"]:before {background-color: #D8B33E;}
#calc-ral-list li[data-ral="1012"]:after {content: "RAL 1012"}
#calc-ral-list li[data-ral="1013"]:before {background-color: #E4DDCB;}
#calc-ral-list li[data-ral="1013"]:after {content: "RAL 1013"}
#calc-ral-list li[data-ral="1014"]:before {background-color: #DCC6A1;}
#calc-ral-list li[data-ral="1014"]:after {content: "RAL 1014"}
#calc-ral-list li[data-ral="1015"]:before {background-color: #E5D5BB;}
#calc-ral-list li[data-ral="1015"]:after {content: "RAL 1015"}
#calc-ral-list li[data-ral="1016"]:before {background-color: #EDE334;}
#calc-ral-list li[data-ral="1016"]:after {content: "RAL 1016"}
#calc-ral-list li[data-ral="1017"]:before {background-color: #F2AE5D;}
#calc-ral-list li[data-ral="1017"]:after {content: "RAL 1017"}
#calc-ral-list li[data-ral="1018"]:before {background-color: #F4D046;}
#calc-ral-list li[data-ral="1018"]:after {content: "RAL 1018"}
#calc-ral-list li[data-ral="1019"]:before {background-color: #A69480;}
#calc-ral-list li[data-ral="1019"]:after {content: "RAL 1019"}
#calc-ral-list li[data-ral="1020"]:before {background-color: #A2946D;}
#calc-ral-list li[data-ral="1020"]:after {content: "RAL 1020"}
#calc-ral-list li[data-ral="1021"]:before {background-color: #EEBB00;}
#calc-ral-list li[data-ral="1021"]:after {content: "RAL 1021"}
#calc-ral-list li[data-ral="1023"]:before {background-color: #F1BB01;}
#calc-ral-list li[data-ral="1023"]:after {content: "RAL 1023"}
#calc-ral-list li[data-ral="1024"]:before {background-color: #B99559;}
#calc-ral-list li[data-ral="1024"]:after {content: "RAL 1024"}
#calc-ral-list li[data-ral="1026"]:before {background-color: #F0FD00;}
#calc-ral-list li[data-ral="1026"]:after {content: "RAL 1026"}
#calc-ral-list li[data-ral="1027"]:before {background-color: #A78734;}
#calc-ral-list li[data-ral="1027"]:after {content: "RAL 1027"}
#calc-ral-list li[data-ral="1028"]:before {background-color: #FFA200;}
#calc-ral-list li[data-ral="1028"]:after {content: "RAL 1028"}
#calc-ral-list li[data-ral="1032"]:before {background-color: #DBA829;}
#calc-ral-list li[data-ral="1032"]:after {content: "RAL 1032"}
#calc-ral-list li[data-ral="1033"]:before {background-color: #F3A038;}
#calc-ral-list li[data-ral="1033"]:after {content: "RAL 1033"}
#calc-ral-list li[data-ral="1034"]:before {background-color: #E9A35E;}
#calc-ral-list li[data-ral="1034"]:after {content: "RAL 1034"}
#calc-ral-list li[data-ral="1035"]:before {background-color: #887E6B;}
#calc-ral-list li[data-ral="1035"]:after {content: "RAL 1035"}
#calc-ral-list li[data-ral="1036"]:before {background-color: #856E44;}
#calc-ral-list li[data-ral="1036"]:after {content: "RAL 1036"}
#calc-ral-list li[data-ral="1037"]:before {background-color: #EB982E;}
#calc-ral-list li[data-ral="1037"]:after {content: "RAL 1037"}
#calc-ral-list li[data-ral="2000"]:before {background-color: #D7772D;}
#calc-ral-list li[data-ral="2000"]:after {content: "RAL 2000"}
#calc-ral-list li[data-ral="2001"]:before {background-color: #BA563C;}
#calc-ral-list li[data-ral="2001"]:after {content: "RAL 2001"}
#calc-ral-list li[data-ral="2002"]:before {background-color: #BE483C;}
#calc-ral-list li[data-ral="2002"]:after {content: "RAL 2002"}
#calc-ral-list li[data-ral="2003"]:before {background-color: #F28044;}
#calc-ral-list li[data-ral="2003"]:after {content: "RAL 2003"}
#calc-ral-list li[data-ral="2004"]:before {background-color: #DF5E34;}
#calc-ral-list li[data-ral="2004"]:after {content: "RAL 2004"}
#calc-ral-list li[data-ral="2005"]:before {background-color: #FF1502;}
#calc-ral-list li[data-ral="2005"]:after {content: "RAL 2005"}
#calc-ral-list li[data-ral="2007"]:before {background-color: #FF9600;}
#calc-ral-list li[data-ral="2007"]:after {content: "RAL 2007"}
#calc-ral-list li[data-ral="2008"]:before {background-color: #E9723A;}
#calc-ral-list li[data-ral="2008"]:after {content: "RAL 2008"}
#calc-ral-list li[data-ral="2009"]:before {background-color: #DB5E32;}
#calc-ral-list li[data-ral="2009"]:after {content: "RAL 2009"}
#calc-ral-list li[data-ral="2010"]:before {background-color: #CC653C;}
#calc-ral-list li[data-ral="2010"]:after {content: "RAL 2010"}
#calc-ral-list li[data-ral="2011"]:before {background-color: #E27638;}
#calc-ral-list li[data-ral="2011"]:after {content: "RAL 2011"}
#calc-ral-list li[data-ral="2012"]:before {background-color: #D46B58;}
#calc-ral-list li[data-ral="2012"]:after {content: "RAL 2012"}
#calc-ral-list li[data-ral="2013"]:before {background-color: #934424;}
#calc-ral-list li[data-ral="2013"]:after {content: "RAL 2013"}
#calc-ral-list li[data-ral="3000"]:before {background-color: #A8403D;}
#calc-ral-list li[data-ral="3000"]:after {content: "RAL 3000"}
#calc-ral-list li[data-ral="3001"]:before {background-color: #A03C3E;}
#calc-ral-list li[data-ral="3001"]:after {content: "RAL 3001"}
#calc-ral-list li[data-ral="3002"]:before {background-color: #9F3B3D;}
#calc-ral-list li[data-ral="3002"]:after {content: "RAL 3002"}
#calc-ral-list li[data-ral="3003"]:before {background-color: #8A383E;}
#calc-ral-list li[data-ral="3003"]:after {content: "RAL 3003"}
#calc-ral-list li[data-ral="3004"]:before {background-color: #753C42;}
#calc-ral-list li[data-ral="3004"]:after {content: "RAL 3004"}
#calc-ral-list li[data-ral="3005"]:before {background-color: #663D43;}
#calc-ral-list li[data-ral="3005"]:after {content: "RAL 3005"}
#calc-ral-list li[data-ral="3007"]:before {background-color: #513E40;}
#calc-ral-list li[data-ral="3007"]:after {content: "RAL 3007"}
#calc-ral-list li[data-ral="3009"]:before {background-color: #734641;}
#calc-ral-list li[data-ral="3009"]:after {content: "RAL 3009"}
#calc-ral-list li[data-ral="3011"]:before {background-color: #7D3D3D;}
#calc-ral-list li[data-ral="3011"]:after {content: "RAL 3011"}
#calc-ral-list li[data-ral="3012"]:before {background-color: #C88B78;}
#calc-ral-list li[data-ral="3012"]:after {content: "RAL 3012"}
#calc-ral-list li[data-ral="3013"]:before {background-color: #99443F;}
#calc-ral-list li[data-ral="3013"]:after {content: "RAL 3013"}
#calc-ral-list li[data-ral="3014"]:before {background-color: #CB797D;}
#calc-ral-list li[data-ral="3014"]:after {content: "RAL 3014"}
#calc-ral-list li[data-ral="3015"]:before {background-color: #D8A5AE;}
#calc-ral-list li[data-ral="3015"]:after {content: "RAL 3015"}
#calc-ral-list li[data-ral="3016"]:before {background-color: #A94C44;}
#calc-ral-list li[data-ral="3016"]:after {content: "RAL 3016"}
#calc-ral-list li[data-ral="3017"]:before {background-color: #CA5F69;}
#calc-ral-list li[data-ral="3017"]:after {content: "RAL 3017"}
#calc-ral-list li[data-ral="3018"]:before {background-color: #C74F59;}
#calc-ral-list li[data-ral="3018"]:after {content: "RAL 3018"}
#calc-ral-list li[data-ral="3020"]:before {background-color: #BB3939;}
#calc-ral-list li[data-ral="3020"]:after {content: "RAL 3020"}
#calc-ral-list li[data-ral="3022"]:before {background-color: #CD705E;}
#calc-ral-list li[data-ral="3022"]:after {content: "RAL 3022"}
#calc-ral-list li[data-ral="3024"]:before {background-color: #F60100;}
#calc-ral-list li[data-ral="3024"]:after {content: "RAL 3024"}
#calc-ral-list li[data-ral="3026"]:before {background-color: #FE0000;}
#calc-ral-list li[data-ral="3026"]:after {content: "RAL 3026"}
#calc-ral-list li[data-ral="3027"]:before {background-color: #AD3E4F;}
#calc-ral-list li[data-ral="3027"]:after {content: "RAL 3027"}
#calc-ral-list li[data-ral="3004"]:before {background-color: #753C42;}
#calc-ral-list li[data-ral="3004"]:after {content: "RAL 3004"}
#calc-ral-list li[data-ral="3005"]:before {background-color: #663D43;}
#calc-ral-list li[data-ral="3005"]:after {content: "RAL 3005"}
#calc-ral-list li[data-ral="3007"]:before {background-color: #513E40;}
#calc-ral-list li[data-ral="3007"]:after {content: "RAL 3007"}
#calc-ral-list li[data-ral="3009"]:before {background-color: #734641;}
#calc-ral-list li[data-ral="3009"]:after {content: "RAL 3009"}
#calc-ral-list li[data-ral="3011"]:before {background-color: #7D3D3D;}
#calc-ral-list li[data-ral="3011"]:after {content: "RAL 3011"}
#calc-ral-list li[data-ral="3012"]:before {background-color: #C88B78;}
#calc-ral-list li[data-ral="3012"]:after {content: "RAL 3012"}
#calc-ral-list li[data-ral="3013"]:before {background-color: #99443F;}
#calc-ral-list li[data-ral="3013"]:after {content: "RAL 3013"}
#calc-ral-list li[data-ral="3014"]:before {background-color: #CB797D;}
#calc-ral-list li[data-ral="3014"]:after {content: "RAL 3014"}
#calc-ral-list li[data-ral="3015"]:before {background-color: #D8A5AE;}
#calc-ral-list li[data-ral="3015"]:after {content: "RAL 3015"}
#calc-ral-list li[data-ral="3016"]:before {background-color: #A94C44;}
#calc-ral-list li[data-ral="3016"]:after {content: "RAL 3016"}
#calc-ral-list li[data-ral="3017"]:before {background-color: #CA5F69;}
#calc-ral-list li[data-ral="3017"]:after {content: "RAL 3017"}
#calc-ral-list li[data-ral="3018"]:before {background-color: #C74F59;}
#calc-ral-list li[data-ral="3018"]:after {content: "RAL 3018"}
#calc-ral-list li[data-ral="3020"]:before {background-color: #BB3939;}
#calc-ral-list li[data-ral="3020"]:after {content: "RAL 3020"}
#calc-ral-list li[data-ral="3022"]:before {background-color: #CD705E;}
#calc-ral-list li[data-ral="3022"]:after {content: "RAL 3022"}
#calc-ral-list li[data-ral="3024"]:before {background-color: #F60100;}
#calc-ral-list li[data-ral="3024"]:after {content: "RAL 3024"}
#calc-ral-list li[data-ral="3026"]:before {background-color: #FE0000;}
#calc-ral-list li[data-ral="3026"]:after {content: "RAL 3026"}
#calc-ral-list li[data-ral="3027"]:before {background-color: #AD3E4F;}
#calc-ral-list li[data-ral="3027"]:after {content: "RAL 3027"}
#calc-ral-list li[data-ral="3028"]:before {background-color: #CB3234;}
#calc-ral-list li[data-ral="3028"]:after {content: "RAL 3028"}
#calc-ral-list li[data-ral="3031"]:before {background-color: #AB464E;}
#calc-ral-list li[data-ral="3031"]:after {content: "RAL 3031"}
#calc-ral-list li[data-ral="3032"]:before {background-color: #751521;}
#calc-ral-list li[data-ral="3032"]:after {content: "RAL 3032"}
#calc-ral-list li[data-ral="3033"]:before {background-color: #B54740;}
#calc-ral-list li[data-ral="3033"]:after {content: "RAL 3033"}
#calc-ral-list li[data-ral="4001"]:before {background-color: #8C6A8B;}
#calc-ral-list li[data-ral="4001"]:after {content: "RAL 4001"}
#calc-ral-list li[data-ral="4002"]:before {background-color: #924E5D;}
#calc-ral-list li[data-ral="4002"]:after {content: "RAL 4002"}
#calc-ral-list li[data-ral="4003"]:before {background-color: #C66A93;}
#calc-ral-list li[data-ral="4003"]:after {content: "RAL 4003"}
#calc-ral-list li[data-ral="4004"]:before {background-color: #703B4D;}
#calc-ral-list li[data-ral="4004"]:after {content: "RAL 4004"}
#calc-ral-list li[data-ral="4005"]:before {background-color: #8470A1;}
#calc-ral-list li[data-ral="4005"]:after {content: "RAL 4005"}
#calc-ral-list li[data-ral="4006"]:before {background-color: #97467E;}
#calc-ral-list li[data-ral="4006"]:after {content: "RAL 4006"}
#calc-ral-list li[data-ral="4007"]:before {background-color: #573E51;}
#calc-ral-list li[data-ral="4007"]:after {content: "RAL 4007"}
#calc-ral-list li[data-ral="4008"]:before {background-color: #8D5789;}
#calc-ral-list li[data-ral="4008"]:after {content: "RAL 4008"}
#calc-ral-list li[data-ral="4009"]:before {background-color: #A38B98;}
#calc-ral-list li[data-ral="4009"]:after {content: "RAL 4009"}
#calc-ral-list li[data-ral="4010"]:before {background-color: #C05082;}
#calc-ral-list li[data-ral="4010"]:after {content: "RAL 4010"}
#calc-ral-list li[data-ral="4011"]:before {background-color: #836593;}
#calc-ral-list li[data-ral="4011"]:after {content: "RAL 4011"}
#calc-ral-list li[data-ral="4012"]:before {background-color: #716880;}
#calc-ral-list li[data-ral="4012"]:after {content: "RAL 4012"}
#calc-ral-list li[data-ral="5000"]:before {background-color: #485B79;}
#calc-ral-list li[data-ral="5000"]:after {content: "RAL 5000"}
#calc-ral-list li[data-ral="5001"]:before {background-color: #38586F;}
#calc-ral-list li[data-ral="5001"]:after {content: "RAL 5001"}
#calc-ral-list li[data-ral="5002"]:before {background-color: #3F4B87;}
#calc-ral-list li[data-ral="5002"]:after {content: "RAL 5002"}
#calc-ral-list li[data-ral="5003"]:before {background-color: #3B4963;}
#calc-ral-list li[data-ral="5003"]:after {content: "RAL 5003"}
#calc-ral-list li[data-ral="5004"]:before {background-color: #3C3F48;}
#calc-ral-list li[data-ral="5004"]:after {content: "RAL 5004"}
#calc-ral-list li[data-ral="5005"]:before {background-color: #2B5D8E;}
#calc-ral-list li[data-ral="5005"]:after {content: "RAL 5005"}
#calc-ral-list li[data-ral="5007"]:before {background-color: #4F7194;}
#calc-ral-list li[data-ral="5007"]:after {content: "RAL 5007"}
#calc-ral-list li[data-ral="5008"]:before {background-color: #454C56;}
#calc-ral-list li[data-ral="5008"]:after {content: "RAL 5008"}
#calc-ral-list li[data-ral="5009"]:before {background-color: #3E667F;}
#calc-ral-list li[data-ral="5009"]:after {content: "RAL 5009"}
#calc-ral-list li[data-ral="5010"]:before {background-color: #2B5A84;}
#calc-ral-list li[data-ral="5010"]:after {content: "RAL 5010"}
#calc-ral-list li[data-ral="5011"]:before {background-color: #3C4250;}
#calc-ral-list li[data-ral="5011"]:after {content: "RAL 5011"}
#calc-ral-list li[data-ral="5012"]:before {background-color: #418EBA;}
#calc-ral-list li[data-ral="5012"]:after {content: "RAL 5012"}
#calc-ral-list li[data-ral="5013"]:before {background-color: #3C4661;}
#calc-ral-list li[data-ral="5013"]:after {content: "RAL 5013"}
#calc-ral-list li[data-ral="5014"]:before {background-color: #71839B;}
#calc-ral-list li[data-ral="5014"]:after {content: "RAL 5014"}
#calc-ral-list li[data-ral="5015"]:before {background-color: #3082B4;}
#calc-ral-list li[data-ral="5015"]:after {content: "RAL 5015"}
#calc-ral-list li[data-ral="5017"]:before {background-color: #186694;}
#calc-ral-list li[data-ral="5017"]:after {content: "RAL 5017"}
#calc-ral-list li[data-ral="5018"]:before {background-color: #389293;}
#calc-ral-list li[data-ral="5018"]:after {content: "RAL 5018"}
#calc-ral-list li[data-ral="5019"]:before {background-color: #31678B;}
#calc-ral-list li[data-ral="5019"]:after {content: "RAL 5019"}
#calc-ral-list li[data-ral="5020"]:before {background-color: #2A525A;}
#calc-ral-list li[data-ral="5020"]:after {content: "RAL 5020"}
#calc-ral-list li[data-ral="5021"]:before {background-color: #097D7D;}
#calc-ral-list li[data-ral="5021"]:after {content: "RAL 5021"}
#calc-ral-list li[data-ral="5022"]:before {background-color: #444267;}
#calc-ral-list li[data-ral="5022"]:after {content: "RAL 5022"}
#calc-ral-list li[data-ral="5023"]:before {background-color: #5A7495;}
#calc-ral-list li[data-ral="5023"]:after {content: "RAL 5023"}
#calc-ral-list li[data-ral="5024"]:before {background-color: #7098B1;}
#calc-ral-list li[data-ral="5024"]:after {content: "RAL 5024"}
#calc-ral-list li[data-ral="5025"]:before {background-color: #336275;}
#calc-ral-list li[data-ral="5025"]:after {content: "RAL 5025"}
#calc-ral-list li[data-ral="5026"]:before {background-color: #212A51;}
#calc-ral-list li[data-ral="5026"]:after {content: "RAL 5026"}
#calc-ral-list li[data-ral="6000"]:before {background-color: #4E7D6B;}
#calc-ral-list li[data-ral="6000"]:after {content: "RAL 6000"}
#calc-ral-list li[data-ral="6001"]:before {background-color: #437248;}
#calc-ral-list li[data-ral="6001"]:after {content: "RAL 6001"}
#calc-ral-list li[data-ral="6002"]:before {background-color: #456540;}
#calc-ral-list li[data-ral="6002"]:after {content: "RAL 6002"}
#calc-ral-list li[data-ral="6003"]:before {background-color: #5A5E4D;}
#calc-ral-list li[data-ral="6003"]:after {content: "RAL 6003"}
#calc-ral-list li[data-ral="6004"]:before {background-color: #335554;}
#calc-ral-list li[data-ral="6004"]:after {content: "RAL 6004"}
#calc-ral-list li[data-ral="6005"]:before {background-color: #365148;}
#calc-ral-list li[data-ral="6005"]:after {content: "RAL 6005"}
#calc-ral-list li[data-ral="6006"]:before {background-color: #4E4E46;}
#calc-ral-list li[data-ral="6006"]:after {content: "RAL 6006"}
#calc-ral-list li[data-ral="6007"]:before {background-color: #43493F;}
#calc-ral-list li[data-ral="6007"]:after {content: "RAL 6007"}
#calc-ral-list li[data-ral="6008"]:before {background-color: #47473F;}
#calc-ral-list li[data-ral="6008"]:after {content: "RAL 6008"}
#calc-ral-list li[data-ral="6009"]:before {background-color: #3F4941;}
#calc-ral-list li[data-ral="6009"]:after {content: "RAL 6009"}
#calc-ral-list li[data-ral="6010"]:before {background-color: #547546;}
#calc-ral-list li[data-ral="6010"]:after {content: "RAL 6010"}
#calc-ral-list li[data-ral="6011"]:before {background-color: #728567;}
#calc-ral-list li[data-ral="6011"]:after {content: "RAL 6011"}
#calc-ral-list li[data-ral="6012"]:before {background-color: #444D4C;}
#calc-ral-list li[data-ral="6012"]:after {content: "RAL 6012"}
#calc-ral-list li[data-ral="6013"]:before {background-color: #827C64;}
#calc-ral-list li[data-ral="6013"]:after {content: "RAL 6013"}
#calc-ral-list li[data-ral="6014"]:before {background-color: #534E48;}
#calc-ral-list li[data-ral="6014"]:after {content: "RAL 6014"}
#calc-ral-list li[data-ral="6015"]:before {background-color: #4A4D46;}
#calc-ral-list li[data-ral="6015"]:after {content: "RAL 6015"}
#calc-ral-list li[data-ral="6016"]:before {background-color: #167259;}
#calc-ral-list li[data-ral="6016"]:after {content: "RAL 6016"}
#calc-ral-list li[data-ral="6017"]:before {background-color: #5E874D;}
#calc-ral-list li[data-ral="6017"]:after {content: "RAL 6017"}
#calc-ral-list li[data-ral="6018"]:before {background-color: #619F49;}
#calc-ral-list li[data-ral="6018"]:after {content: "RAL 6018"}
#calc-ral-list li[data-ral="6019"]:before {background-color: #B9D1AF;}
#calc-ral-list li[data-ral="6019"]:after {content: "RAL 6019"}
#calc-ral-list li[data-ral="6020"]:before {background-color: #4A5449;}
#calc-ral-list li[data-ral="6020"]:after {content: "RAL 6020"}
#calc-ral-list li[data-ral="6021"]:before {background-color: #8DA080;}
#calc-ral-list li[data-ral="6021"]:after {content: "RAL 6021"}
#calc-ral-list li[data-ral="6022"]:before {background-color: #4B4640;}
#calc-ral-list li[data-ral="6022"]:after {content: "RAL 6022"}
#calc-ral-list li[data-ral="6024"]:before {background-color: #298C5E;}
#calc-ral-list li[data-ral="6024"]:after {content: "RAL 6024"}
#calc-ral-list li[data-ral="6025"]:before {background-color: #64774A;}
#calc-ral-list li[data-ral="6025"]:after {content: "RAL 6025"}
#calc-ral-list li[data-ral="6026"]:before {background-color: #07695A;}
#calc-ral-list li[data-ral="6026"]:after {content: "RAL 6026"}
#calc-ral-list li[data-ral="6027"]:before {background-color: #85BEB8;}
#calc-ral-list li[data-ral="6027"]:after {content: "RAL 6027"}
#calc-ral-list li[data-ral="6028"]:before {background-color: #446052;}
#calc-ral-list li[data-ral="6028"]:after {content: "RAL 6028"}
#calc-ral-list li[data-ral="6029"]:before {background-color: #00784B;}
#calc-ral-list li[data-ral="6029"]:after {content: "RAL 6029"}
#calc-ral-list li[data-ral="6032"]:before {background-color: #36875E;}
#calc-ral-list li[data-ral="6032"]:after {content: "RAL 6032"}
#calc-ral-list li[data-ral="6033"]:before {background-color: #578F86;}
#calc-ral-list li[data-ral="6033"]:after {content: "RAL 6033"}
#calc-ral-list li[data-ral="6034"]:before {background-color: #85B1B0;}
#calc-ral-list li[data-ral="6034"]:after {content: "RAL 6034"}
#calc-ral-list li[data-ral="6035"]:before {background-color: #044D26;}
#calc-ral-list li[data-ral="6035"]:after {content: "RAL 6035"}
#calc-ral-list li[data-ral="6036"]:before {background-color: #015D4F;}
#calc-ral-list li[data-ral="6036"]:after {content: "RAL 6036"}
#calc-ral-list li[data-ral="6037"]:before {background-color: #008E38;}
#calc-ral-list li[data-ral="6037"]:after {content: "RAL 6037"}
#calc-ral-list li[data-ral="6038"]:before {background-color: #00BB2E;}
#calc-ral-list li[data-ral="6038"]:after {content: "RAL 6038"}
#calc-ral-list li[data-ral="7000"]:before {background-color: #838E94;}
#calc-ral-list li[data-ral="7000"]:after {content: "RAL 7000"}
#calc-ral-list li[data-ral="7001"]:before {background-color: #949BA3;}
#calc-ral-list li[data-ral="7001"]:after {content: "RAL 7001"}
#calc-ral-list li[data-ral="7002"]:before {background-color: #898270;}
#calc-ral-list li[data-ral="7002"]:after {content: "RAL 7002"}
#calc-ral-list li[data-ral="7003"]:before {background-color: #7D7D71;}
#calc-ral-list li[data-ral="7003"]:after {content: "RAL 7003"}
#calc-ral-list li[data-ral="7004"]:before {background-color: #A0A0A0;}
#calc-ral-list li[data-ral="7004"]:after {content: "RAL 7004"}
#calc-ral-list li[data-ral="7005"]:before {background-color: #767875;}
#calc-ral-list li[data-ral="7005"]:after {content: "RAL 7005"}
#calc-ral-list li[data-ral="7006"]:before {background-color: #7A7267;}
#calc-ral-list li[data-ral="7006"]:after {content: "RAL 7006"}
#calc-ral-list li[data-ral="7008"]:before {background-color: #7A6A50;}
#calc-ral-list li[data-ral="7008"]:after {content: "RAL 7008"}
#calc-ral-list li[data-ral="7009"]:before {background-color: #646760;}
#calc-ral-list li[data-ral="7009"]:after {content: "RAL 7009"}
#calc-ral-list li[data-ral="7010"]:before {background-color: #616660;}
#calc-ral-list li[data-ral="7010"]:after {content: "RAL 7010"}
#calc-ral-list li[data-ral="7011"]:before {background-color: #5E6367;}
#calc-ral-list li[data-ral="7011"]:after {content: "RAL 7011"}
#calc-ral-list li[data-ral="7012"]:before {background-color: #656A6D;}
#calc-ral-list li[data-ral="7012"]:after {content: "RAL 7012"}
#calc-ral-list li[data-ral="7013"]:before {background-color: #605C51;}
#calc-ral-list li[data-ral="7013"]:after {content: "RAL 7013"}
#calc-ral-list li[data-ral="7015"]:before {background-color: #5D6065;}
#calc-ral-list li[data-ral="7015"]:after {content: "RAL 7015"}
#calc-ral-list li[data-ral="7016"]:before {background-color: #4C4F54;}
#calc-ral-list li[data-ral="7016"]:after {content: "RAL 7016"}
#calc-ral-list li[data-ral="7021"]:before {background-color: #47484A;}
#calc-ral-list li[data-ral="7021"]:after {content: "RAL 7021"}
#calc-ral-list li[data-ral="7022"]:before {background-color: #5A5955;}
#calc-ral-list li[data-ral="7022"]:after {content: "RAL 7022"}
#calc-ral-list li[data-ral="7023"]:before {background-color: #85867E;}
#calc-ral-list li[data-ral="7023"]:after {content: "RAL 7023"}
#calc-ral-list li[data-ral="7024"]:before {background-color: #56575C;}
#calc-ral-list li[data-ral="7024"]:after {content: "RAL 7024"}
#calc-ral-list li[data-ral="7026"]:before {background-color: #4B5355;}
#calc-ral-list li[data-ral="7026"]:after {content: "RAL 7026"}
#calc-ral-list li[data-ral="7030"]:before {background-color: #97948D;}
#calc-ral-list li[data-ral="7030"]:after {content: "RAL 7030"}
#calc-ral-list li[data-ral="7031"]:before {background-color: #6B727A;}
#calc-ral-list li[data-ral="7031"]:after {content: "RAL 7031"}
#calc-ral-list li[data-ral="7032"]:before {background-color: #B7B4A5;}
#calc-ral-list li[data-ral="7032"]:after {content: "RAL 7032"}
#calc-ral-list li[data-ral="7033"]:before {background-color: #868A7C;}
#calc-ral-list li[data-ral="7033"]:after {content: "RAL 7033"}
#calc-ral-list li[data-ral="7034"]:before {background-color: #96907A;}
#calc-ral-list li[data-ral="7034"]:after {content: "RAL 7034"}
#calc-ral-list li[data-ral="7035"]:before {background-color: #C9CBC8;}
#calc-ral-list li[data-ral="7035"]:after {content: "RAL 7035"}
#calc-ral-list li[data-ral="7036"]:before {background-color: #9D9998;}
#calc-ral-list li[data-ral="7036"]:after {content: "RAL 7036"}
#calc-ral-list li[data-ral="7037"]:before {background-color: #858585;}
#calc-ral-list li[data-ral="7037"]:after {content: "RAL 7037"}
#calc-ral-list li[data-ral="7038"]:before {background-color: #B2B5AE;}
#calc-ral-list li[data-ral="7038"]:after {content: "RAL 7038"}
#calc-ral-list li[data-ral="7039"]:before {background-color: #74716A;}
#calc-ral-list li[data-ral="7039"]:after {content: "RAL 7039"}
#calc-ral-list li[data-ral="7040"]:before {background-color: #9EA3A7;}
#calc-ral-list li[data-ral="7040"]:after {content: "RAL 7040"}
#calc-ral-list li[data-ral="7042"]:before {background-color: #949899;}
#calc-ral-list li[data-ral="7042"]:after {content: "RAL 7042"}
#calc-ral-list li[data-ral="7043"]:before {background-color: #5D5F5E;}
#calc-ral-list li[data-ral="7043"]:after {content: "RAL 7043"}
#calc-ral-list li[data-ral="7044"]:before {background-color: #BBB6B0;}
#calc-ral-list li[data-ral="7044"]:after {content: "RAL 7044"}
#calc-ral-list li[data-ral="7045"]:before {background-color: #94989B;}
#calc-ral-list li[data-ral="7045"]:after {content: "RAL 7045"}
#calc-ral-list li[data-ral="7046"]:before {background-color: #878C90;}
#calc-ral-list li[data-ral="7046"]:after {content: "RAL 7046"}
#calc-ral-list li[data-ral="7047"]:before {background-color: #CACACA;}
#calc-ral-list li[data-ral="7047"]:after {content: "RAL 7047"}
#calc-ral-list li[data-ral="7048"]:before {background-color: #858071;}
#calc-ral-list li[data-ral="7048"]:after {content: "RAL 7048"}
#calc-ral-list li[data-ral="8000"]:before {background-color: #8B734F;}
#calc-ral-list li[data-ral="8000"]:after {content: "RAL 8000"}
#calc-ral-list li[data-ral="8001"]:before {background-color: #9E6D44;}
#calc-ral-list li[data-ral="8001"]:after {content: "RAL 8001"}
#calc-ral-list li[data-ral="8002"]:before {background-color: #7F5B4F;}
#calc-ral-list li[data-ral="8002"]:after {content: "RAL 8002"}
#calc-ral-list li[data-ral="8003"]:before {background-color: #845A41;}
#calc-ral-list li[data-ral="8003"]:after {content: "RAL 8003"}
#calc-ral-list li[data-ral="8004"]:before {background-color: #915847;}
#calc-ral-list li[data-ral="8004"]:after {content: "RAL 8004"}
#calc-ral-list li[data-ral="8007"]:before {background-color: #775441;}
#calc-ral-list li[data-ral="8007"]:after {content: "RAL 8007"}
#calc-ral-list li[data-ral="8008"]:before {background-color: #795B43;}
#calc-ral-list li[data-ral="8008"]:after {content: "RAL 8008"}
#calc-ral-list li[data-ral="8011"]:before {background-color: #654A3F;}
#calc-ral-list li[data-ral="8011"]:after {content: "RAL 8011"}
#calc-ral-list li[data-ral="8012"]:before {background-color: #6E4742;}
#calc-ral-list li[data-ral="8012"]:after {content: "RAL 8012"}
#calc-ral-list li[data-ral="8014"]:before {background-color: #56483F;}
#calc-ral-list li[data-ral="8014"]:after {content: "RAL 8014"}
#calc-ral-list li[data-ral="8015"]:before {background-color: #694642;}
#calc-ral-list li[data-ral="8015"]:after {content: "RAL 8015"}
#calc-ral-list li[data-ral="8016"]:before {background-color: #5B443E;}
#calc-ral-list li[data-ral="8016"]:after {content: "RAL 8016"}
#calc-ral-list li[data-ral="8017"]:before {background-color: #534542;}
#calc-ral-list li[data-ral="8017"]:after {content: "RAL 8017"}
#calc-ral-list li[data-ral="8019"]:before {background-color: #4E4848;}
#calc-ral-list li[data-ral="8019"]:after {content: "RAL 8019"}
#calc-ral-list li[data-ral="8022"]:before {background-color: #3D3C3A;}
#calc-ral-list li[data-ral="8022"]:after {content: "RAL 8022"}
#calc-ral-list li[data-ral="8023"]:before {background-color: #A66442;}
#calc-ral-list li[data-ral="8023"]:after {content: "RAL 8023"}
#calc-ral-list li[data-ral="8024"]:before {background-color: #7E5E4F;}
#calc-ral-list li[data-ral="8024"]:after {content: "RAL 8024"}
#calc-ral-list li[data-ral="8025"]:before {background-color: #7C6255;}
#calc-ral-list li[data-ral="8025"]:after {content: "RAL 8025"}
#calc-ral-list li[data-ral="8028"]:before {background-color: #5E4D43;}
#calc-ral-list li[data-ral="8028"]:after {content: "RAL 8028"}
#calc-ral-list li[data-ral="8029"]:before {background-color: #80432A;}
#calc-ral-list li[data-ral="8029"]:after {content: "RAL 8029"}
#calc-ral-list li[data-ral="9001"]:before {background-color: #EAE2D7;}
#calc-ral-list li[data-ral="9001"]:after {content: "RAL 9001"}
#calc-ral-list li[data-ral="9002"]:before {background-color: #D8D8D0;}
#calc-ral-list li[data-ral="9002"]:after {content: "RAL 9002"}
#calc-ral-list li[data-ral="9003"]:before {background-color: #EEEEEC;}
#calc-ral-list li[data-ral="9003"]:after {content: "RAL 9003"}
#calc-ral-list li[data-ral="9004"]:before {background-color: #444446;}
#calc-ral-list li[data-ral="9004"]:after {content: "RAL 9004"}
#calc-ral-list li[data-ral="9005"]:before {background-color: #3C3C3C;}
#calc-ral-list li[data-ral="9005"]:after {content: "RAL 9005"}
#calc-ral-list li[data-ral="9006"]:before {background-color: #A6A5A2;}
#calc-ral-list li[data-ral="9006"]:after {content: "RAL 9006"}
#calc-ral-list li[data-ral="9007"]:before {background-color: #8F8E8A;}
#calc-ral-list li[data-ral="9007"]:after {content: "RAL 9007"}
#calc-ral-list li[data-ral="9010"]:before {background-color: #F2EFE8;}
#calc-ral-list li[data-ral="9010"]:after {content: "RAL 9010"}
#calc-ral-list li[data-ral="9011"]:before {background-color: #3E3F41;}
#calc-ral-list li[data-ral="9011"]:after {content: "RAL 9011"}
#calc-ral-list li[data-ral="9016"]:before {background-color: #F1F2ED;}
#calc-ral-list li[data-ral="9016"]:after {content: "RAL 9016"}
#calc-ral-list li[data-ral="9017"]:before {background-color: #404040;}
#calc-ral-list li[data-ral="9017"]:after {content: "RAL 9017"}
#calc-ral-list li[data-ral="9018"]:before {background-color: #CACFC9;}
#calc-ral-list li[data-ral="9018"]:after {content: "RAL 9018"}
#calc-ral-list li[data-ral="9022"]:before {background-color: #A0A1A0;}
#calc-ral-list li[data-ral="9022"]:after {content: "RAL 9022"}
#calc-ral-list li[data-ral="9023"]:before {background-color: #909293;}
#calc-ral-list li[data-ral="9023"]:after {content: "RAL 9023"}
/* END RAL Codes */
